.bg{
	position: absolute;
	width: inherit;
	height: 70%;
	background-size: cover;
	transition: all 4s;
	top:0;
border-radius: 0 0 40% 0;}
	#bg1{
		
		background-image: url('Img/Recursos/c1.jpeg');
		}
	#bg2{
	
		background-image: url('Img/Recursos/c1.jpeg');
		}
		@media (min-width: 801px) {
			.bg{background-size: cover;
	background-repeat: no-repeat;
	background-position:center;}
				 
		}