.bg{
	position: absolute;
	width: inherit;
	height: 600px;;
	background-size: contain;
	transition: all 4s;
	top:0;}
	#bg1{
		background: url('Img/Recursos/c1.jpeg');
		opacity: 1;}
	#bg2{opacity: 0;}