.bg{
	position: absolute;
	width: inherit;
	height: inherit;
	background-size: cover;
	transition: all 4s;
	background-repeat: no-repeat;
	top:0;
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.265),inset 0 0 1rem #000;
	
}
	#bg1, #bg2{
		height: 500px;
		background-image: url('img/Recursos/c1.jpeg');
		border-radius: 0 0 40% 0;
		}

		#bg3,#bg4{
		background-image: url('img/Recursos/c1.jpeg');
		}
		#bg5,#bg6{
			background-image: url('img/bolsa1.jpeg');
			
		}
		.bgservicios{
			margin: 0;
			
		}
		@media (min-width: 801px) {
			.bg{background-size: cover;
	
	background-position:center;}
	#bg3,#bg4,#bg5,#bg6{
		width: 300px;
		border-radius: 1rem;
	}
	.bgservicios{
		transition: all 2s;
		border-radius: 1rem;
		width: 200px;
		height: 200px;
		background-size: contain;
	}
}