.btnmenu{
  flex-wrap: wrap;
  transform: scale(.9);
	margin-top: 0px;
	width: 25px;
	height: 30px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: flex-end;
	z-index: 7;
	margin-right:18px;
}
.menubar{
 
	
	width: inherit;
	height: 2px;
	margin-top: 4px;
	background-color: azure;
	margin-right: 0;
	transition: all .3s;
	border-radius: 4px;
}

.l1{
	width: 20px;


}
.l2{

	transform: rotate(360deg);
}
.l3{
width: 22px;

}
.l4{
transform: rotate(360deg);

}
.l1a{
	width: 0px;
	opacity: 0;
	
	transform: rotate(-360deg);
}
.l2a{
	transform: rotate(45deg);

}
.l3a{

width: 0px;
transform: rotate(360deg);
opacity: 0;
}
.l4a{

transform: rotate(-45deg);
	position: absolute;
}

@media (min-width: 801px) {
		 .btnmenu{
			display:none;
		 }
}