section{position: relative;

overflow: hidden;
 margin: 0;
 padding:0 ;
 border: none;
 outline: 0;
}
#inicio{
  height: 700px;
 overflow-y: hidden;
  background-color: #191F27;
  background: url("Img/Abkhazia-sea-mountains-1.jpg");
  background-size: cover;

}
#inicio .contactanos{
  width: 100%;
  height:30px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titulo{
  
  padding: 0;
  margin-top:450px;
  display: flex;
 height: 130px;
  align-items: center;
  justify-content: center;
  width:100%;
  color: white;
  text-align: center;
  background-color: #000000a7;
  z-index: 3;

}
.titulo .line{
  width:3px;
  height: 100px;
  background-color: #72d0ea;
  animation:expand 1s ease 1s 1 normal;
}
.titulo h4{
  width: 70%;
  
  margin: 0 0;
  margin-left: 15px;
  color: #ffffff;
  font-size: 25px;
  text-align: left; 
  padding: 10px;
  font-weight: 400;
}
#inicio a{
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  border-radius: 10px;
}
#inicio .contactanos{
  background: #014505;
}
#inicio h3{
  width: 100%;
  padding: 0 20%;
}
#nosotros{
  margin-top: -40px;
  margin-bottom: -60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
background-color:#1c292d;
 padding-bottom: 80px;
 padding-top: 30px;
width: 100%;
clip-path: polygon(0 1%, 100% 0%, 100% 100%, 0 99%);
z-index: 5;


}


#nosotros h1{
  width: 100%;
  text-align: left;
  padding: 0 0 0 2rem;
  font-size: 32px;


  color: #ffffff;
  text-shadow: #000000 0 0 8px;
}

#nosotros h3{
  max-width: 500px;
  width: 70%;
  font-weight: 200;
  margin-top: 10px;
  padding: 10px 1rem;
  text-align: left;
  color: #eaffea;
  font-size: 18px;
  padding-bottom: 60px;
  padding-top: 50px;
 
  border-radius: 15px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) , inset 0 0 20px rgba(255,255,255, 0.05);
}
#nosotros .subtitulo{
  display: flex; 
  height:80px;
  width:100%;
  padding: .2rem 0; 
  background-color: #003b3b; 
  margin:0 0 0 0;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.176), 0 0 40px  #000d00;
  z-index: 3;
}

#nosotros img{
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 30px;
  width: 100%;
  
}
#nosotros .logoN{
  width: 80%;
  padding: 20px 0;
  max-width: 500px;
  margin: 0;
  /* background-color: #191F27; */
  
}
#nosotros .quienes-somos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin-bottom: 30px;
  padding: 0 50px;
  
 
}
#EPP{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
  padding: 0 20%;
  /* background-color: #00322c;*/
  border-radius: 0 0 0 250px;
}

#referencias{
  background:azure;
  display: flex;
  justify-content: center;
  align-items: center;
}
#referencias h4{
  padding: 0 10%;
  font-weight: 300;
  color: var(--a3);
  margin-bottom: 30px;
}
.sectionBackground{


  width: 100%;
  position: absolute;
height: 700px;
  clip-path: polygon(0 0, 100% 0, 100% 94%, 0% 100%);
 
}
.preloaderLogo{
  width: 310px;
  height: 110px;
  margin: 0 0;
  margin-bottom: 80px;
}
#contacto{
   display: flex;
   width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  background: #bbdbbb;

}
#contacto h2{
  width: 100%;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  
  top: 0;
  color: azure;
  padding: 40px;
  background-color: var(--v5);
  border-radius: 0 0 50% 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7),inset 0 -10px 20px rgba(255,255,255,.2);
}
#contacto h3{
  color: rgb(0, 37, 22);
  font-weight: 200;
}
.contactanos{
  font-size: 12px;
  margin-top: 150px;
border-radius: 8%;
  width:60%;
  max-width: 500px;
  margin-top: 30px;
  padding: 40px;
  background-color: #5e8d68;
  /* backdrop-filter: blur(7px); */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), inset 0 0 30px rgba(255,255,255,.2);
}
.contactanos input{
  color: #191F27;
  border: none;
  outline: none;
  background-color: #ffffff;
  border-radius: 5%;
  padding: 8px;

}
.contactanos label{
  padding: 8px;
  color: azure;
  letter-spacing: 2px;
}
.redes{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: center;

}
.redes img{
  width :50px;
  margin: 0  5px;
}
@keyframes expand {
  from{height: 1px;};
  to{height: 100px};
}
#info{
  width: 100%;
  color: var(--a1);
  text-align: center;
  
  height: 800px;
  display: block;
}
#info img{
  width: 80%;
  margin-top: 200px;
}


