section{position: relative;

overflow: hidden;
 margin: 0;
 padding:0 ;
 border: none;
 outline: 0;
}
#inicio{
  height: 700px;
 overflow-y: hidden;
  background-color: #191F27;
  background: url("Img/Abkhazia-sea-mountains-1.jpg");
  background-size: cover;

}
#inicio .contactanos{
  width: 100%;
  height:30px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titulo{
  
  padding: 0;
  margin-top:90%;
  display: flex;
 height: 130px;
  align-items: center;
  justify-content: center;
  width:100%;
  color: white;
  text-align: center;
  background-color: #000000a7;
  z-index: 3;

}
.titulo .line{
  width:3px;
  height: 100px;
  background-color: #72d0ea;
  animation:expand 1s ease 1s 1 normal;
}
.titulo h4{
  width: 70%;
  
  margin: 0 0;
  margin-left: 15px;
  color: #ffffff;
  font-size: 25px;
  text-align: left; 
  padding: 10px;
  font-weight: 400;
}
#inicio a{
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  border-radius: 10px;
}
#inicio .contactanos{
  background: #014505;
}
#inicio h3{
  width: 100%;
  padding: 0 20%;
}
#nosotros{
  margin-top: -40px;
  margin-bottom: -60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
background-color:#191F27;;
 padding-bottom: 80px;
 padding-top: 30px;
width: 100%;
clip-path: polygon(0 1%, 100% 0%, 100% 100%, 0 98%);
z-index: 5;


}
#nosotros h1{
  width: 100%;
  text-align: center;
  font-size: 32px;
  padding: 30px 10%;

  color: #c4ffc7;
  text-shadow: #eaffea 0 0 5px;
}
#nosotros h3{
  max-width: 500px;
  font-weight: 200;
  margin-top: 10px;
  padding: 10px 10%;
  text-align: center;
  color: #eaffea;
  font-size: 18px; padding: 10px;
  padding-bottom: 60px;
  padding-top: 50px;
  background-color: #21272f;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) , inset 0 0 100px rgba(0, 0, 0, 0.1);
}

#nosotros img{
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 30px;
  width: 100%;
  
}
#nosotros .logoN{
  padding: 20px 0;
  max-width: 500px;
  margin: 0;
  /* background-color: #191F27; */
  
}
#nosotros .quienes-somos{
  width: 80%;
  height: fit-content;
  margin-bottom: 30px;
  
 
}

#referencias{
  background: #c4ffc7;
}
#referencias h4{
  padding: 0 10%;
  font-weight: 300;
  color: var(--a3);
  margin-bottom: 30px;
}
.sectionBackground{


  width: 100%;
  position: absolute;
height: 700px;
  clip-path: polygon(0 0, 100% 0, 100% 94%, 0% 100%);
 
}
.preloaderLogo{
  width: 310px;
  height: 110px;
  margin: 0 0;
  margin-bottom: 80px;

 

   
}

@keyframes expand {
  from{height: 1px;};
  to{height: 100px};
  
}
