.slider-container{
  height:fit-content;
  z-index: 4;
 margin-top: 150px;
   /* background: rgba(4, 151, 255, 0.26);*/
width: 100%;
background: azure;

}
.slider{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: inherit;
  z-index: 4;
}
.slide{
  display:flex;
  flex-direction: column;
  color: #374d6b;
  width: 80%;
  height:400px;
  backdrop-filter: blur(8px);
transform: scale(1);
 border-radius: 20px;
/*box-shadow: inset 0 0 25px #00000094;*/
 
  align-items:center;
  justify-content: center;
  
}
.slide h3{
  text-align: center;
  color:#000000;
  font-weight: 400;
  font-size: 28px;
   transform: scale(.9);
  width: 100%;
  padding:30px;
  
  
}
.slider-index{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  height: 40px;
  
  margin-bottom: 60px;
}
.slider-index .circle{
  margin: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 5px;
  transform: scale(1);
  background-color: #374d6b;
}
.i-active{
  transform: scale(1.1);
  background-color: #374d6b;
}